.slogan-area {
    position: relative;
    height: 85vh;
}


app-slogan {
    position: absolute;
    z-index: 0;
    width: 100%;
    padding-top: 15vh;
}

.mission-statement-area {
    width: 100%;
}