:host {
  display: flex;
  min-height: 100dvh;
  flex-direction: column;
}

.site-main {
  flex: 1 0 auto;
  display: block;
}

.site-footer {
  font-size: 3vh;
  padding: 1vh;
  text-align: center;
  margin-top: auto;
  background-color: #5E35B1;
}